<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <a th:text="${user.getUsername()}">us</a>
        <a th:text="${user.getAge()}">us</a>
        <a th:text="${user.getRoles()}">us</a>
        <a th:text="${user.getPassword()}">us</a>
        <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">EditUser!</a>
        <br/>
    </th:block>
</div>
<br/>
<hr/>
<a href="/admin/new">Create new User</a>
<hr/>
<a href="/logout">logout!</a>
</body>
</html>