<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="user : ${user1}">
        <a th:text="${user.getUsername()}">user</a>
        <a th:text="${user.getAge()}">user</a>
        <a th:text="${user.getPassword()}">user</a>
        <a th:text="${user.getRoles()}">user</a>

        <br/>
    </th:block>
</div>
</body>
<hr/>
<a href="/logout">logout!</a>
</html>